@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.dress-style {
  padding: 4rem 1rem;

  &__container {
    max-width: 77.5rem;
    margin: 0 auto;
    background-color: $color-bg-gray;
    border-radius: 2.5rem;
    padding: 4.5rem 4rem 4.75rem;
  }

  &__title {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: $colorblack;
    text-transform: uppercase;
    margin-bottom: 4rem;
    letter-spacing: 0.0rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.25rem;
  }

  &__card {
    position: relative;
    height: 18.1rem;
    background-color: $colorwhite;
    border-radius: 1.3rem;
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    display: block;

    &:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.08);
    }
  }

  &__item--wide-left {
    grid-column: span 5;
  }

  &__item--wide-right {
    grid-column: span 7;
  }

  &__card-name {
    position: absolute;
    top: 1.75rem;
    left: 2.25rem;
    font-size: 2.25rem;
    font-weight: 800;
    font-family: $font-display;
    color: $colorblack;
    z-index: 2;
  }

  &__card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right top;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (max-width: 62rem) {
  .dress-style {
    padding: 2.5rem 1rem;

    &__container {
      padding: 2.5rem 1.5rem;
      border-radius: 1.5rem;
    }

    &__title {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    &__item--wide-left,
    &__item--wide-right {
      grid-column: span 12;
    }

    &__card {
      height: 12.5rem;
    }

    &__card-name {
      font-size: 1.625rem;
      top: 1.25rem;
      left: 1.5rem;
    }
  }
}
